/* Variáveis com as cores; */

:root {
    /* Não alterada */
    --color-background: #d4d4ff;
    /* Alteradas */
    --color-primary-lighter: #41468D;
    --color-primary-light: #6268bf;
    --color-primary: #2E3163;
    --color-primary-dark: #747be3;
    --color-primary-darker: #3f458c;
    --color-secundary: #8d3863;
    --color-secundary-dark: #ad4c7d;
    /* Não alterada */
    --color-title-in-primary: #FFFFFF;
    /* Alteradas */
    --color-text-in-primary: #a7adfc;
    --color-text-title: #353878;
      /* Não alteradas */
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
    font-size: 60%;
}

/* Reset padrão do css; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
}

body {
    background: var(--color-background);
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

body, input, button, textarea {
    font: 500 1.6rem Poppins;
    color: var(--color-text-base);
}

.container {
    width: 90vw;
    max-width: 700px;
}

@media (min-width: 700px) {
    :root {
        font-size: 62.5%;
    }
}